<div>
    <h2 id="page-heading">
        <span jhiTranslate="ricApp.employe.home.title">Employes</span>
        <hr>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUP']" id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm create-employe" [routerLink]="['/admin/user-management/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ricApp.employe.home.createLabel">
            Create a new Employe
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="employes?.length === 0">
        <span jhiTranslate="ricApp.employe.home.notFound">No employes found</span>
    </div>
    <div class="table-responsive" *ngIf="employes?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="nom"><span jhiTranslate="ricApp.employe.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="ricApp.employe.prenom">Prenom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="ricApp.employe.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cni"><span jhiTranslate="ricApp.employe.cni">Cni</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user"><span jhiTranslate="ricApp.employe.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="poste"><span jhiTranslate="ricApp.employe.poste">Poste</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="agence"><span jhiTranslate="ricApp.employe.agence">Agence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let employe of employes ;trackBy: trackId">
            <tr>
                <td>{{employe.nom}}</td>
                <td>{{employe.prenom}}</td>
                <td>{{employe.telephone}}</td>
                <td>{{employe.cni}}</td>
                <td >
                    <div *ngIf="employe.user">
                        {{employe.user.firstName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="employe.poste">
                       {{employe.poste.libelle}}
                    </div>
                </td>
                <td>
                    <div *ngIf="employe.agence">
                        {{employe.agence.nom}}
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUP']" type="submit"
                                [routerLink]="['/employe', employe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUP']" type="submit"
                                [routerLink]="['/employe', employe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
<!--                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUP']" type="submit" (click)="delete(employe)"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
<!--                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="employes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
