<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employe">
            <h2><span jhiTranslate="ricApp.employe.detail.title">Employe</span> {{employe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ricApp.employe.nom">Nom</span></dt>
                <dd>
                    <span>{{employe.nom}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.employe.prenom">Prenom</span></dt>
                <dd>
                    <span>{{employe.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.employe.telephone">Telephone</span></dt>
                <dd>
                    <span>{{employe.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.employe.cni">Cni</span></dt>
                <dd>
                    <span>{{employe.cni}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.employe.deleted">Deleted</span></dt>
                <dd>
                    <span>{{employe.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.employe.user">User</span></dt>
                <dd>
                    {{employe.user.firstName}}
                </dd>
                <dt><span jhiTranslate="ricApp.employe.poste">Poste</span></dt>
                <dd>
                    <div *ngIf="employe.poste.id">
                        <a [routerLink]="['/poste', employe.poste.id, 'view']">{{employe.poste.libelle}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ricApp.employe.agence">Agence</span></dt>
                <dd>
                    <div *ngIf="employe.agence.id">
                        <a [routerLink]="['/agence', employe.agence.id, 'view']">{{employe.agence.nom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn-tak btn-tak-gris btn-tak-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employe', employe.id, 'edit']"
                    class="btn-tak btn-tak-blue btn-tak-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
