<div>
    <h2 id="page-heading">
        <fa-icon icon="boxes" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.categorie.home.title">Categories</span>
        <hr>
        <button id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm create-categorie" [routerLink]="['/categorie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ricApp.categorie.home.createLabel">
            Create a new Categorie
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="categories?.length === 0">
        <span jhiTranslate="ricApp.categorie.home.notFound">No categories found</span>
    </div>
    <div class="table-responsive" *ngIf="categories?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="ricApp.categorie.libelle">Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let categorie of categories ;trackBy: trackId">
            <tr>
                <td>{{categorie.libelle}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button  *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO','ROLE_SELL']" type="submit"
                                [routerLink]="['/categorie', categorie.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO']" type="submit"
                                [routerLink]="['/categorie', categorie.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUP','ROLE_ADD']" type="submit" (click)="delete(categorie)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="categories?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
