.footer-edit {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  border-top: 1px black inset;
  box-shadow: black 1px 1px 5px 5px;
  padding-top: 20px;
  margin-top: 40px;
}
