<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="returns">
            <h2><span jhiTranslate="ricApp.returns.detail.title">Returns</span> {{returns.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ricApp.returns.numeroRetour">Numero Retour</span></dt>
                <dd>
                    <span>{{returns.numeroRetour}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.returns.motif">Motif</span></dt>
                <dd>
                    <span>{{returns.motif}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.returns.commentaire">Commentaire</span></dt>
                <dd>
                    <span>{{returns.commentaire}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.returns.operation">Operation</span></dt>
                <dd>
                    <div *ngIf="returns.operation">
                        <a [routerLink]="['/operation', returns.operation, 'view']">{{returns.operation}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn-tak btn-tak-gris btn-tak-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/returns', returns.id, 'edit']"
                    class="btn-tak btn-tak-blue btn-tak-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
