<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-returns-heading" jhiTranslate="ricApp.returns.home.createOrEditLabel">Create or edit a Returns</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.returns.numeroRetour" for="field_numeroRetour">Numero Retour</label>
                    <input type="text" class="form-control" name="numeroRetour" id="field_numeroRetour"
                           formControlName="numeroRetour"/>
                    <div *ngIf="editForm.get('numeroRetour')!.invalid && (editForm.get('numeroRetour')!.dirty || editForm.get('numeroRetour')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroRetour')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.returns.motif" for="field_motif">Motif</label>
                    <input type="text" class="form-control" name="motif" id="field_motif"
                           formControlName="motif"/>
                    <div *ngIf="editForm.get('motif')!.invalid && (editForm.get('motif')!.dirty || editForm.get('motif')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('motif')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.returns.commentaire" for="field_commentaire">Commentaire</label>
                    <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                           formControlName="commentaire"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.returns.operation" for="field_operation">Operation</label>
                    <select class="form-control" id="field_operation" name="operation" formControlName="operationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operationOption.id" *ngFor="let operationOption of operations; trackBy: trackById">{{operationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn-tak btn-tak-gris btn-tak-sm"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn-tak btn-tak-green btn-tak-sm">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
