<div>
    <h2 id="page-heading">
        <span jhiTranslate="ricApp.returns.home.title">Returns</span>
        <hr>
        <button id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm create-returns" [routerLink]="['/returns/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ricApp.returns.home.createLabel">
            Create a new Returns
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="returns?.length === 0">
        <span jhiTranslate="ricApp.returns.home.notFound">No returns found</span>
    </div>
    <div class="table-responsive" *ngIf="returns?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroRetour"><span jhiTranslate="ricApp.returns.numeroRetour">Numero Retour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="motif"><span jhiTranslate="ricApp.returns.motif">Motif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="commentaire"><span jhiTranslate="ricApp.returns.commentaire">Commentaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="operationId"><span jhiTranslate="ricApp.returns.operation">Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr *ngFor="let returns of returns ;trackBy: trackId">
                <td><a [routerLink]="['/returns', returns.id, 'view' ]">{{returns.id}}</a></td>
                <td>{{returns.numeroRetour}}</td>
                <td>{{returns.motif}}</td>
                <td>{{returns.commentaire}}</td>
                <td>
                    <div *ngIf="returns.operation">
                        <a [routerLink]="['/operation', returns.operation , 'view' ]" >{{returns.operation}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/returns', returns.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/returns', returns.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(returns)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="returns?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
