<div>
    <h2 id="page-heading">

        <span jhiTranslate="ricApp.allTracing.home.title">All Tracings</span>
    </h2>
    <br>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="allTracings?.length === 0">
        <span jhiTranslate="ricApp.allTracing.home.notFound">No allTracings found</span>
    </div>
    <div class="table-responsive" *ngIf="allTracings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="logDescription"><span jhiTranslate="ricApp.allTracing.logDescription">Log Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="entityLogged"><span jhiTranslate="ricApp.allTracing.entityLogged">Entity Logged</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="logDate"><span jhiTranslate="ricApp.allTracing.logDate">Log Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="logGenerateBy"><span jhiTranslate="ricApp.allTracing.logGenerateBy">Log Generate By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let allTracing of allTracings ;trackBy: trackId">
                <td><a [routerLink]="['/all-tracing', allTracing.id, 'view' ]">{{allTracing.id}}</a></td>
                <td>{{allTracing.logDescription}}</td>
                <td>{{allTracing.entityLogged}}</td>
                <td>{{allTracing.logDate | date:'medium'}}</td>
                <td>{{allTracing.logGenerateBy}}</td>
                <td class="text-right">
                    <div class="btn-group">
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/all-tracing', allTracing.id, 'view' ]"-->
<!--                                class="btn btn-info btn-sm">-->
<!--                            <fa-icon [icon]="'eye'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/all-tracing', allTracing.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--                        </button>-->
<!--                        <button type="submit" (click)="delete(allTracing)"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
<!--                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="allTracings?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
