<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-all-tracing-heading" jhiTranslate="ricApp.allTracing.home.createOrEditLabel">Create or edit a All Tracing</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.allTracing.logDescription" for="field_logDescription">Log Description</label>
                    <input type="text" class="form-control" name="logDescription" id="field_logDescription"
                           formControlName="logDescription"/>
                    <div *ngIf="editForm.get('logDescription')!.invalid && (editForm.get('logDescription')!.dirty || editForm.get('logDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('logDescription')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('logDescription')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.allTracing.entityLogged" for="field_entityLogged">Entity Logged</label>
                    <input type="text" class="form-control" name="entityLogged" id="field_entityLogged"
                           formControlName="entityLogged"/>
                    <div *ngIf="editForm.get('entityLogged')!.invalid && (editForm.get('entityLogged')!.dirty || editForm.get('entityLogged')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entityLogged')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.allTracing.logDate" for="field_logDate">Log Date</label>
                    <div class="input-group">
                        <input id="field_logDate" type="text" class="form-control" name="logDate" ngbDatepicker  #logDateDp="ngbDatepicker" formControlName="logDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="logDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('logDate')!.invalid && (editForm.get('logDate')!.dirty || editForm.get('logDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('logDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.allTracing.logGenerateBy" for="field_logGenerateBy">Log Generate By</label>
                    <input type="text" class="form-control" name="logGenerateBy" id="field_logGenerateBy"
                           formControlName="logGenerateBy"/>
                    <div *ngIf="editForm.get('logGenerateBy')!.invalid && (editForm.get('logGenerateBy')!.dirty || editForm.get('logGenerateBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('logGenerateBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
