<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="allTracing">
            <h2><span jhiTranslate="ricApp.allTracing.detail.title">All Tracing</span> {{allTracing.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ricApp.allTracing.logDescription">Log Description</span></dt>
                <dd>
                    <span>{{allTracing.logDescription}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.allTracing.entityLogged">Entity Logged</span></dt>
                <dd>
                    <span>{{allTracing.entityLogged}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.allTracing.logDate">Log Date</span></dt>
                <dd>
                    <span>{{allTracing.logDate}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.allTracing.logGenerateBy">Log Generate By</span></dt>
                <dd>
                    <span>{{allTracing.logGenerateBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/all-tracing', allTracing.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
