<div>
    <h2 id="page-heading">
        <fa-icon icon="file-invoice" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.paiement.home.title">Paiements</span>
        <hr>
<!--        <button id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm create-paiement" [routerLink]="['/paiement/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span  jhiTranslate="ricApp.paiement.home.createLabel">-->
<!--            Create a new Paiement-->
<!--            </span>-->
<!--        </button>-->
        <br>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="paiements?.length === 0">
        <span jhiTranslate="ricApp.paiement.home.notFound">No paiements found</span>
    </div>
    <div class="table-responsive" *ngIf="paiements?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="datePaiement"><span jhiTranslate="ricApp.paiement.datePaiement">Date Paiement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="montantPaiement"><span jhiTranslate="ricApp.paiement.montantPaiement">Montant Paiement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="facture"><span jhiTranslate="ricApp.paiement.facture">Facture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="client"><span jhiTranslate="ricApp.paiement.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="employe"><span jhiTranslate="ricApp.paiement.employe">Employe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let paiement of paiements ;trackBy: trackId">
            <tr>
                <td>{{paiement.datePaiement | date:'mediumDate'}}</td>
                <td>{{paiement.montantPaiement}}</td>
                <td>
                    <div *ngIf="paiement.facture">
                        <a [routerLink]="['/facture', paiement.facture.id , 'view' ]" >{{paiement.facture.numeroFacture}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paiement.client">
                        <a [routerLink]="['/client', paiement.client.id , 'view' ]" >{{paiement.client.nom}}&nbsp;{{paiement.client.prenom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paiement.employe">
                        <a [routerLink]="['/employe', paiement.employe.id , 'view' ]" >{{paiement.employe.nom}}&nbsp;{{paiement.employe.prenom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/paiement', paiement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="paiements?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
