<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paiement">
            <h2><span jhiTranslate="ricApp.paiement.detail.title">Paiement</span> {{paiement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ricApp.paiement.datePaiement">Date Paiement</span></dt>
                <dd>
                    <span>{{paiement.datePaiement}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.paiement.montantPaiement">Montant Paiement</span></dt>
                <dd>
                    <span>{{paiement.montantPaiement}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.paiement.facture">Facture</span></dt>
                <dd>
                    <div *ngIf="paiement.facture.id">
                        <a [routerLink]="['/facture', paiement.facture.id, 'view']">{{paiement.facture.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ricApp.paiement.client">Client</span></dt>
                <dd>
                    <div *ngIf="paiement.client.id">
                        <a [routerLink]="['/client', paiement.client.id, 'view']">{{paiement.client.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ricApp.paiement.employe">Employe</span></dt>
                <dd>
                    <div *ngIf="paiement.employe.id">
                        <a [routerLink]="['/employe', paiement.employe.id, 'view']">{{paiement.employe.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn-tak btn-tak-gris btn-tak-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/paiement', paiement.id, 'edit']"
                    class="btn-tak btn-tak-blue btn-tak-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
