<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 [hidden]="!editForm.get('id')!.value" id="jhi-paiement-heading" jhiTranslate="ricApp.paiement.home.EditLabel">Edit a Paiement</h2>
            <h2 [hidden]="editForm.get('id')!.value" id="jhi-paiement-heading2" jhiTranslate="ricApp.paiement.home.createLabel">Create a Paiement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.paiement.datePaiement" for="field_datePaiement">Date Paiement</label>
                    <input type="number" class="form-control" name="datePaiement" id="field_datePaiement"
                           formControlName="datePaiement"/>
                    <div *ngIf="editForm.get('datePaiement')!.invalid && (editForm.get('datePaiement')!.dirty || editForm.get('datePaiement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('datePaiement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('datePaiement')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.paiement.montantPaiement" for="field_montantPaiement">Montant Paiement</label>
                    <input type="number" class="form-control" name="montantPaiement" id="field_montantPaiement"
                           formControlName="montantPaiement"/>
                    <div *ngIf="editForm.get('montantPaiement')!.invalid && (editForm.get('montantPaiement')!.dirty || editForm.get('montantPaiement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantPaiement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantPaiement')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('montantPaiement')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.paiement.facture" for="field_facture">Facture</label>
                    <select class="form-control" id="field_facture" name="facture" formControlName="facture">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="factureOption.id" *ngFor="let factureOption of factures; trackBy: trackById">{{factureOption.numeroFacture}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.paiement.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackById">{{clientOption.nom}}&nbsp;{{clientOption.prenom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.paiement.employe" for="field_employe">Employe</label>
                    <select class="form-control" id="field_employe" name="employe" formControlName="employe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeOption.id" *ngFor="let employeOption of employes; trackBy: trackById">{{employeOption.nom}}&nbsp;{{employeOption.prenom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn-tak btn-tak-gris btn-tak-sm"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn-tak btn-tak-green btn-tak-sm">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
