<div class="row justify-content-center">
    <div class="col-12">
        <h2>
            <fa-icon icon="box" fixedWidth="true"></fa-icon>&nbsp;
            <span jhiTranslate="ricApp.produit.detail.title">Produit</span>
        </h2>
        <hr>
        <button type="submit"
                (click)="previousState()"
                class="btn-tak btn-tak-gris btn-tak-sm">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/produit', produit.id, 'edit']"
                class="btn-tak btn-tak-blue btn-tak-sm">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <div *ngIf="produit">
            <div class="row">
                <div class="col-4 border-right-tak">
                    <table class="table table-state-tak">
                        <thead>
                        <th colspan="2" class="table-head align-content-center" >
                            <span jhiTranslate="global.field.detail" style="text-transform: capitalize">Detail</span>
                            <span jhiTranslate="ricApp.produit.detail.title" style="text-transform: capitalize;"></span>
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.produit.designation">Designation</span>
                            </td>
                            <td class="td-right-tak">
                                {{produit.designation}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.produit.quantiteStock">Quantite Stock</span>
                            </td>
                            <td class="td-right-tak">
                                {{produit.quantiteStock}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.produit.quantiteMinimale">Quantite Minimale</span>
                            </td>
                            <td class="td-right-tak">
                                {{produit.quantiteMinimale}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.produit.categorie">Categorie</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="produit.categorie.id">
                                    <a [routerLink]="['/categorie', produit.categorie.id, 'view']">{{produit.categorie.libelle}}</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-8">
                    <h4><span style="text-decoration: underline" jhiTranslate="ricApp.ligneOperation.home.title"></span></h4>
                    <div class="alert alert-warning" *ngIf="produit.ligneOperations?.length === 0">
                        <span jhiTranslate="ricApp.ligneOperation.home.notFound">No ligneOperations found</span>
                    </div>
                    <div class="table-responsive" *ngIf="produit.ligneOperations?.length > 0">
                        <table class="table table-bordered" aria-describedby="page-heading">
                            <thead class="table-head">
                            <tr>
                                <th ><span >Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th ><span jhiTranslate="ricApp.ligneOperation.quantite">Quantite</span></th>
                                <th ><span jhiTranslate="ricApp.ligneOperation.operation">Operation</span></th>
                            </tr>
                            </thead>
                            <tbody class="table-body" *ngFor="let ligneOperation of produit.ligneOperations ;trackBy: trackId">
                            <tr>
                                <td>{{ligneOperation.operation.dateOperation | date:'mediumDate'}}</td>
                                <td>
                                    <span *ngIf="ligneOperation.operation.typeOperation.id === 1 ">{{ligneOperation.quantite}}</span>
                                    <span *ngIf="ligneOperation.operation.typeOperation.id === 2 ">{{-1 * ligneOperation.quantite}}</span>
                                    </td>
                                <td>
                                    <div *ngIf="ligneOperation.operation.id">
                                        <a [routerLink]="['/operation', ligneOperation.operation.id , 'view' ]" >{{ligneOperation.operation.numeroOperation}}</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
