<div>
    <h2 id="page-heading">
        <fa-icon icon="box" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.produit.home.title">Produits</span>
        <hr>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO']" id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm create-produit" [routerLink]="['/produit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ricApp.produit.home.createLabel">
            Create a new Produit
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="produits?.length === 0">
        <span jhiTranslate="ricApp.produit.home.notFound">No produits found</span>
    </div>
    <div class="table-responsive" *ngIf="produits?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="designation" width="45%"><span jhiTranslate="ricApp.produit.designation">Designation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="categorie" width="20%"><span jhiTranslate="ricApp.produit.categorie">Categorie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="quantiteMinimale"><span jhiTranslate="ricApp.produit.quantiteMinimale">Quantite Minimale</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="quantiteStock"><span jhiTranslate="ricApp.produit.quantiteStock">Quantite Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let produit of produits ;trackBy: trackId">
            <!-- *****-->
            <tr *ngIf="produit.quantiteStock > produit.quantiteMinimale" >
                <td>{{produit.designation}}</td>
                <td>
                    <div *ngIf="produit.categorie.id">
                        <a [routerLink]="['/categorie', produit.categorie.id , 'view' ]" >{{produit.categorie.libelle}}</a>
                    </div>
                </td>
                <td>{{produit.quantiteMinimale}}</td>
                <td>{{produit.quantiteStock}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO','ROLE_SELL']" type="submit" [routerLink]="['/produit', produit.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO']" type="submit" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            <!-- *****-->
            <tr *ngIf="produit.quantiteStock <= produit.quantiteMinimale && produit.quantiteStock > 0" class="table-row-wanning ">
                <td>{{produit.designation}}</td>
                <td>
                    <div *ngIf="produit.categorie.id">
                        <a [routerLink]="['/categorie', produit.categorie.id , 'view' ]" >{{produit.categorie.libelle}}</a>
                    </div>
                </td>
                <td>{{produit.quantiteMinimale}}</td>
                <td>{{produit.quantiteStock}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO','ROLE_SELL']" type="submit" [routerLink]="['/produit', produit.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO']" type="submit" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            <!-- *****-->
            <tr *ngIf="produit.quantiteStock === 0"  class="table-row-danger">
                <td>{{produit.designation}}</td>
                <td>
                    <div *ngIf="produit.categorie.id">
                        <a [routerLink]="['/categorie', produit.categorie.id , 'view' ]" >{{produit.categorie.libelle}}</a>
                    </div>
                </td>
                <td>{{produit.quantiteMinimale}}</td>
                <td>{{produit.quantiteStock}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO','ROLE_SELL']" type="submit" [routerLink]="['/produit', produit.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_ADD', 'ROLE_SUP','ROLE_APPRO']" type="submit" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="produits?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
