<div class="row justify-content-center">
    <div class="col-12">
        <h2>
            <fa-icon icon="file-alt" fixedWidth="true"></fa-icon>
            <span jhiTranslate="ricApp.bordereau.detail.title">Bordereau</span>
            <span *ngIf="bordereau.numeroBordereau"> {{bordereau.numeroBordereau}}</span>
        </h2>
        <hr>
        <button type="submit" (click)="previousState()" class="btn-tak btn-tak-gris btn-tak-sm">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>&nbsp; || &nbsp;
        <button *ngIf="bordereau" (click)="generatePdf()" class="btn-tak-gris btn-tak btn-tak-sm">
            <fa-icon [icon]="''"></fa-icon>&nbsp;
            <span jhiTranslate="entity.action.print">print</span>
        </button>
        <hr>
        <div *ngIf="bordereau">
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-4 border-right-tak">
                    <table class="table table-state-tak">
                        <thead>
                        <th colspan="2" class=" table-head" style="text-align: center">
                            <span jhiTranslate="global.field.detail" style="text-transform: capitalize">Detail</span>
                            <span jhiTranslate="ricApp.bordereau.detail.title" style="text-transform: capitalize"></span>
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.bordereau.numeroBordereau">Numero Bordereau</span>
                            </td>
                            <td class="td-right-tak">
                                {{bordereau.numeroBordereau}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.bordereau.dateBordereau">Date Bordereau</span>
                            </td>
                            <td class="td-right-tak">
                                {{bordereau.dateBordereau | date:'mediumDate'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.bordereau.type">Type</span>
                            </td>
                            <td class="td-right-tak">
                                <span jhiTranslate="{{'ricApp.TypeBordereau.' + bordereau.type}}">{{bordereau.type}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.bordereau.operation">Operation</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="bordereau.operation">
                                    <a [routerLink]="['/operation', bordereau.operation, 'view']">{{bordereau.operation.numeroOperation}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.bordereau.client">Client</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="bordereau.client">
                                    <a [routerLink]="['/client', bordereau.client, 'view']">{{bordereau.client.nom}}&nbsp;{{bordereau.client.prenom}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.bordereau.employe">Employe</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="bordereau.employe">
                                    <a [routerLink]="['/employe', bordereau.employe, 'view']">{{bordereau.employe.nom}}&nbsp;{{bordereau.employe.prenom}}</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-8">
                    <div class="table-responsive" *ngIf="bordereau.ligneOperations?.length > 0">
                        <h4><span style="text-decoration: underline" jhiTranslate="ricApp.ligneOperation.home.title"></span></h4>
                        <br>
                        <table class="table table-bordered" aria-describedby="page-heading">
                            <thead class="table-head">
                            <tr>
                                <th width="50%"><span jhiTranslate="ricApp.ligneOperation.produit">Produit</span></th>
                                <th width="10%"><span jhiTranslate="ricApp.ligneOperation.quantite">Quantite</span></th>
                            </tr>
                            </thead>
                            <tbody class="table-body" *ngFor="let ligneOperation of bordereau.ligneOperations ;">
                            <tr >
                                <td>
                                    <div *ngIf="ligneOperation.produit.id">
                                        <a [routerLink]="['/produit', ligneOperation.produit.id , 'view' ]" >{{ligneOperation.produit.designation}}</a>
                                    </div>
                                </td>
                                <td class="td-right-tak">{{ligneOperation.quantite}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
