<div>
    <h2 id="page-heading">
        <fa-icon icon="file-alt" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.bordereau.home.title">Bordereaus</span>
        <hr>
<!--        <button id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm create-bordereau" [routerLink]="['/bordereau/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span  jhiTranslate="ricApp.bordereau.home.createLabel">-->
<!--            Create a new Bordereau-->
<!--            </span>-->
<!--        </button>--><br>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bordereaus?.length === 0">
        <span jhiTranslate="ricApp.bordereau.home.notFound">No bordereaus found</span>
    </div>
    <div class="table-responsive" *ngIf="bordereaus?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
<!--            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"  jhiSortBy="numeroBordereau"><span jhiTranslate="ricApp.bordereau.numeroBordereau">Numero Bordereau</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateBordereau"><span jhiTranslate="ricApp.bordereau.dateBordereau">Date Bordereau</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="type"><span jhiTranslate="ricApp.bordereau.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="operationId"><span jhiTranslate="ricApp.bordereau.operation">Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="clientId"><span jhiTranslate="ricApp.bordereau.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="employeId"><span jhiTranslate="ricApp.bordereau.employe">Employe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let bordereau of bordereaus ;trackBy: trackId">
            <tr>
                <td>{{bordereau.numeroBordereau}}</td>
                <td>{{bordereau.dateBordereau | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'ricApp.TypeBordereau.' + bordereau.type}}">{{bordereau.type}}</td>
                <td>
                    <div *ngIf="bordereau.operation">
                        <a [routerLink]="['/operation', bordereau.operation , 'view' ]" >{{bordereau.operation.numeroOperation}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bordereau.client">
                        <a [routerLink]="['/client', bordereau.client , 'view' ]" >{{bordereau.client.nom}}&nbsp;{{bordereau.client.prenom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bordereau.employe">
                        <a [routerLink]="['/employe', bordereau.employe , 'view' ]" >{{bordereau.employe.nom}}&nbsp;{{bordereau.employe.prenom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bordereau', bordereau.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button  *jhiHasAnyAuthority="'ROLE_SUP'" type="submit"
                                [routerLink]="['/bordereau', bordereau.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bordereaus?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
