<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 [hidden]="!editForm.get('id')!.value" id="jhi-bordereau-heading" jhiTranslate="ricApp.bordereau.home.EditLabel">Edit a Bordereau</h2>
            <h2  [hidden]="editForm.get('id')!.value" id="jhi-bordereau-heading2" jhiTranslate="ricApp.bordereau.home.createLabel">Create Bordereau</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.bordereau.numeroBordereau" for="field_numeroBordereau">Numero Bordereau</label>
                    <input type="text" class="form-control" name="numeroBordereau" id="field_numeroBordereau"
                           formControlName="numeroBordereau"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.bordereau.dateBordereau" for="field_dateBordereau">Date Bordereau</label>
                    <div class="input-group">
                        <input id="field_dateBordereau" type="text" class="form-control" name="dateBordereau" ngbDatepicker  #dateBordereauDp="ngbDatepicker" formControlName="dateBordereau"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateBordereauDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateBordereau')!.invalid && (editForm.get('dateBordereau')!.dirty || editForm.get('dateBordereau')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateBordereau')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.bordereau.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="Approvionnement">{{'ricApp.TypeBordereau.Approvionnement' | translate}}</option>
                        <option value="Livraison">{{'ricApp.TypeBordereau.Livraison' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.bordereau.operation" for="field_operation">Operation</label>
                    <select class="form-control" id="field_operation" name="operation" formControlName="operationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operationOption.id" *ngFor="let operationOption of operations; trackBy: trackById">{{operationOption.numeroOperation}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.bordereau.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="clientId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackById">{{clientOption.nom}}&nbsp;{{clientOption.prenom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.bordereau.employe" for="field_employe">Employe</label>
                    <select class="form-control" id="field_employe" name="employe" formControlName="employeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeOption.id" *ngFor="let employeOption of employes; trackBy: trackById">{{employeOption.nom}}&nbsp;{{employeOption.prenom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn-tak btn-tak-gris btn-tak-sm"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn-tak btn-tak-green btn-tak-sm">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
