<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="user">
            <h2>
                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                <span jhiTranslate="userManagement.detail.title">User</span> [&nbsp;<b>{{user.login}}</b>&nbsp; ]
            </h2>
            <hr>
            <button type="submit" (click)="previousState()" class="btn-tak btn-tak-gris btn-tak-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <hr>
            <table class="table table-state-tak">
                <thead>
                <th colspan="5" class=" table-head" style="text-align: center">
                    <span jhiTranslate="global.field.detail"style="text-transform: capitalize">Detail</span>
                    <span jhiTranslate="userManagement.detail.title" style="text-transform: capitalize"></span>
                </th>
                </thead>
                <tbody>
                <tr>
                    <td class="td-left-tak" width="15%">
                        <span jhiTranslate="userManagement.login">Login</span>
                    </td>
                    <td class="td-right-tak-left" width="40%">{{user.login}}
                        <jhi-boolean
                            [value]="user.activated"
                            [textTrue]="'userManagement.activated' | translate"
                            [textFalse]="'userManagement.deactivated' | translate">
                        </jhi-boolean>
                    </td>
                    <td width="0.5%" style="border: black inset 1px"></td>
                    <td class="td-left-tak" width="15%">
                        <span jhiTranslate="ricApp.employe.poste" >Poste</span>
                    </td>
                    <td *ngIf="user.employe.poste" class="td-right-tak-left" width="39%">{{user.employe.poste.libelle}}
                    </td>
                    <td *ngIf="!user.employe.poste" class="td-right-tak-left" width="39%">Inconnu
                    </td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="userManagement.firstName">First Name</span>
                    </td>
                    <td class="td-right-tak-left">{{user.firstName}}</td>
                    <td width="0.5%" style="border: black inset 1px"></td>
                    <td class="td-left-tak" width="15%">
                        <span jhiTranslate="ricApp.employe.agence" >Poste</span>
                    </td>
                    <td *ngIf="user.employe.agence" class="td-right-tak-left" width="39%">{{user.employe.agence.nom}}
                    </td>
                    <td *ngIf="!user.employe.agence" class="td-right-tak-left" width="39%">Inconnu
                    </td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="userManagement.lastName">Last Name</span>
                    </td>
                    <td class="td-right-tak-left">{{user.lastName}}</td>
                    <td width="0.5%" style="border: black inset 1px"></td>
                    <td class="td-left-tak" width="15%">
                        <span jhiTranslate="userManagement.langKey">Lang Key</span>
                    </td>
                    <td class="td-right-tak-left">{{user.langKey}}</td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="userManagement.email">Email</span>
                    </td>
                    <td class="td-right-tak-left">{{user.email}}</td>
                    <td width="0.5%" style="border: black inset 1px"></td>
                    <td class="td-left-tak" width="15%">
                        <span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span>
                    </td>
                    <td class="td-right-tak-left">{{user.lastModifiedBy}}</td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="ricApp.employe.telephone">telephone</span>
                    </td>
                    <td class="td-right-tak-left">{{user.telephone}}</td>
                    <td width="0.5%" style="border: black inset 1px"></td>
                    <td class="td-left-tak" width="15%">
                        <span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span>
                    </td>
                    <td class="td-right-tak-left">{{user.lastModifiedDate | date:'medium'}}</td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="ricApp.employe.cni">cni</span>
                    </td>
                    <td class="td-right-tak-left">{{user.cni}}</td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="userManagement.createdBy">Created By</span>
                    </td>
                    <td class="td-right-tak-left">{{user.createdBy}}</td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="userManagement.createdDate">Created Date</span>
                    </td>
                    <td class="td-right-tak-left">{{user.createdDate | date:'medium' }}</td>
                </tr>
                <tr>
                    <td class="td-left-tak">
                        <span jhiTranslate="userManagement.profiles">Profiles</span>
                    </td>
                    <td class="td-right-tak-left" colspan="4">
                        <div>
                            <div class="d-inline auth-tak" *ngFor="let authority of user.authorities">
                                <span class="badge badge-info">{{authority}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>
