<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 *ngIf="!user.id" id="myUserLabel" jhiTranslate="userManagement.home.createLabel">Create a User </h2>
            <h2 *ngIf="user.id" id="myUserLabel2" jhiTranslate="userManagement.home.EditLabel">Edit a User </h2>
            <hr>
            <button type="button" class="btn btn-secondary" (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" *ngIf="!editForm.invalid" class="btn-tak btn-tak-green btn-tak-sm">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
            <button type="submit" *ngIf="editForm.invalid" class="btn-tak btn-tak-green btn-tak-sm btn-invalide-tak">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
            <hr>
            <div *ngIf="user">
                <jhi-alert-error></jhi-alert-error>
                    <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                        <strong>Registration failed!</strong> Please try again later.
                    </div>

                    <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                        <strong>Login name already registered!</strong> Please choose another one.
                    </div>

                    <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                        <strong>Email is already in use!</strong> Please choose another one.
                    </div>

                    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatched">
                        The password and its confirmation do not match!
                    </div>
                <div class="form-group" [hidden]="!user.id">
                    <label jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" name="id" formControlName="id" readonly>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
                            <input type="text" class="form-control" name="login"
                                   formControlName="login">

                            <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('login')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('login')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                                       [translateValues]="{max: 50}">
                                    This field cannot be longer than 50 characters.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('login')?.errors?.pattern" jhiTranslate="entity.validation.patternLogin">
                                    This field can only contain letters, digits and e-mail addresses.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label">New password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                   formControlName="password">
                            <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('password')?.errors?.required"
                                       jhiTranslate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('password')?.errors?.minlength"
                                       jhiTranslate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('password')?.errors?.maxlength"
                                       jhiTranslate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>
<!--                            <jhi-password-strength-bar [passwordToCheck]="editForm.get('password')!.value"></jhi-password-strength-bar>-->
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                   formControlName="confirmPassword">
                            <div *ngIf="editForm.get('confirmPassword')!.invalid && (editForm.get('confirmPassword')!.dirty || editForm.get('confirmPassword')!.touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('confirmPassword')?.errors?.required"
                                       jhiTranslate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('confirmPassword')?.errors?.minlength"
                                       jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('confirmPassword')?.errors?.maxlength"
                                       jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="activated">
                                <input class="form-check-input" [attr.disabled]="user.id === undefined ? 'disabled' : null"
                                       type="checkbox" id="activated" name="activated" formControlName="activated">
                                <span jhiTranslate="userManagement.activated">Activated</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" formControlName="firstName">
                            <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('firstName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                                       [translateValues]="{max: 50}">
                                    This field cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ricApp.employe.telephone" for="field_telephone">Telephone</label>
                            <input type="text" class="form-control" name="telephone" id="field_telephone"
                                   formControlName="telephone"/>
                            <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('telephone')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
                            <input type="email" class="form-control" name="email" formControlName="email">
                            <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('email')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                                       [translateValues]="{max: 100}">
                                    This field cannot be longer than 100 characters.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('email')?.errors?.minlength" jhiTranslate="entity.validation.minlength"
                                       [translateValues]="{min: 5}">
                                    This field is required to be at least 5 characters.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid">
                                    Your email is invalid.
                                </small>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="languages && languages.length > 0">
                            <label jhiTranslate="userManagement.langKey">Lang Key</label>
                            <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
                                <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                            </select>
                        </div>
<!--                        <hr>-->
<!--                        <div class="d-inline">-->
<!--                            <button *ngIf="authBtnChooseState.admin === 'yes'" type="button" class="btn-tak btn-tak-wsm btn-tak-blue-inverse" (click)="changeBtnAdminState()">-->
<!--                                {{authorities[0]}} <span class="badge badge-light"><fa-icon [icon]="'check-square'"></fa-icon></span>-->
<!--                            </button>-->
<!--                            <button *ngIf="authBtnChooseState.admin !== 'yes'" type="button" class="btn-tak btn-tak-wsm btn-tak-blue" (click)="changeBtnAdminState()">-->
<!--                                {{authorities[0]}} <span class="badge badge-light"></span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        length: {{authoritiesView.length}}<br>-->
<!--                        values: {{authoritiesView}}-->
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label jhiTranslate="userManagement.lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" formControlName="lastName">
                            <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('lastName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                                       [translateValues]="{max: 50}">
                                    This field cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ricApp.employe.cni" for="field_cni">Cni</label>
                            <input type="text" class="form-control" name="cni" id="field_cni"
                                   formControlName="cni"/>
                            <div *ngIf="editForm.get('cni')!.invalid && (editForm.get('cni')!.dirty || editForm.get('cni')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('cni')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ricApp.employe.poste" for="field_poste">Poste</label>
                            <select class="form-control" id="field_poste" name="poste" formControlName="poste">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="posteOption.id === editForm.value.poste?.id ? editForm.value.poste: posteOption" *ngFor="let posteOption of postes; trackBy: trackById">{{posteOption.libelle}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ricApp.employe.agence" for="field_agence">Agence</label>
                            <select class="form-control" id="field_agence" name="agence" formControlName="agence">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="agenceOption.id === editForm.value.agence?.id ? editForm.value.agence: agenceOption" *ngFor="let agenceOption of agences; trackBy: trackById">{{agenceOption.nom}}</option>
                            </select>
                        </div>

<!--{{editForm.value | json}}-->

                        <div class="form-group">
                            <label jhiTranslate="userManagement.profiles">Profiles</label>
                            <select class="form-control" multiple name="authority" formControlName="authorities" size="{{authorities.length}}">
                                <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
                            </select>
                            <hr>
                        </div>
                    </div>
                </div>
                <br>
            <div *ngIf="user">

            </div>
        </form>
    </div>
</div>
