<div class="row justify-content-center">
    <div class="col-12">
        <h2>
            <fa-icon icon="file-invoice" fixedWidth="true"></fa-icon>&nbsp;
            <span jhiTranslate="ricApp.facture.detail.title">Facture</span> &nbsp;
            <span *ngIf="facture.numeroFacture"> {{facture.numeroFacture}}</span>
        </h2>
        <hr>
        <button type="submit" (click)="previousState()" class="btn-tak btn-tak-gris btn-tak-sm">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>&nbsp; || &nbsp;
        <button *ngIf="facture" (click)="generatePdf()" class="btn-tak-gris btn-tak btn-tak-sm">
            <fa-icon [icon]="''"></fa-icon>&nbsp;
            <span jhiTranslate="entity.action.print">print</span>
        </button>
        <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUP','ROLE_PAIE']">
            <button *ngIf="facture && facture.netAPayer !== 0" (click)="paid(facture)" class="btn-tak-gris btn-tak btn-tak-sm">
                <fa-icon [icon]="'cash-register'"></fa-icon>&nbsp;
                <span jhiTranslate="entity.action.paie">Paid</span>
            </button>
        </div>
        <button *ngIf="facture && facture.etat === stateDraft" type="button" [routerLink]="['/facture', facture.id, 'edit']" class="btn-tak btn-tak-blue btn-tak-sm">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;
            <span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <hr>
        <div *ngIf="facture">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-4 border-right-tak">
                    <table class="table table-state-tak">
                        <thead>
                        <th colspan="2" class=" table-head" style="text-align: center">
                            <span jhiTranslate="global.field.detail"style="text-transform: capitalize">Detail</span>
                            <span jhiTranslate="ricApp.facture.detail.title" style="text-transform: capitalize"></span>
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.facture.numeroFacture">Numero Facture</span>
                            </td>
                            <td class="td-right-tak">
                                {{facture.numeroFacture}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.facture.dateFacturation">Date Facturation</span>
                            </td>
                            <td class="td-right-tak">
                                {{facture.dateFacturation | date:'mediumDate'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.facture.etat">Etat</span>
                            </td>
                            <td class="td-right-tak">
                                <span jhiTranslate="{{'ricApp.Etat.' + facture.etat}}">{{facture.etat}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.facture.operation">Operation</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="facture.operation.id">
                                    <a [routerLink]="['/operation', facture.operation.id, 'view']">{{facture.operation.numeroOperation}}</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <hr>
                    <button *ngIf="facture.paiements?.length > 0" (click)="showHidePaiement()" class="btn-tak-gris btn-tak btn-tak-sm">
                        <fa-icon [icon]="'sort'"></fa-icon>&nbsp;
                        <span jhiTranslate="{{showHideText}}"></span>
                    </button>
                    <div class="alert alert-warning" *ngIf="facture.paiements?.length === 0">
                        <span jhiTranslate="ricApp.paiement.home.notFound">No paiements found</span>
                    </div>
                    <div class="table-responsive" *ngIf="facture.paiements?.length > 0  && showHide===true">
                        <table class="table table-bordered" aria-describedby="page-heading">
                            <thead class="table-head">
                            <tr>
                                <!--            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                                <th ><span jhiTranslate="ricApp.paiement.datePaiement">Date Paiement</span></th>
                                <th ><span jhiTranslate="ricApp.paiement.montantPaiement">Montant Paiement</span></th>
                                <th ><span jhiTranslate="ricApp.paiement.employe">Employe</span></th>
                                <th ></th>
                            </tr>
                            </thead>
                            <tbody class="table-body"  *ngFor="let paiement of facture.paiements ;trackBy: trackIdPaiment">
                            <tr>
                                <td>{{paiement.datePaiement}}</td>
                                <td>{{paiement.montantPaiement | number:'4.2-5'}}</td>

                                <td>
                                    <div *ngIf="paiement.employe">{{paiement.employe.nom}}&nbsp;{{paiement.employe.prenom}}</div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/paiement', paiement.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>

                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-8">
                    <div class="table-responsive" *ngIf="facture.ligneOperations?.length > 0">
                        <table class="table table-bordered" aria-describedby="page-heading">
                            <thead class="table-head">
                            <tr>
                                <th width="50%"><span jhiTranslate="ricApp.ligneOperation.produit">Produit</span></th>
                                <th width="10%"><span jhiTranslate="ricApp.ligneOperation.quantite">Quantite</span></th>
                                <th width="15%" style="text-align: center"><span jhiTranslate="ricApp.ligneOperation.pU">P U</span></th>
                                <th width="25%"  style="text-align: center"><span jhiTranslate="ricApp.ligneOperation.montantLigneOperation">Montant Ligne Operation</span></th>
                            </tr>
                            </thead>
                            <tbody class="table-body" *ngFor="let ligneOperation of facture.ligneOperations ;">
                            <tr >
                                <td>
                                    <div *ngIf="ligneOperation.produit.id">
                                        <a [routerLink]="['/produit', ligneOperation.produit.id , 'view' ]" >{{ligneOperation.produit.designation}}</a>
                                    </div>
                                </td>
                                <td class="td-right-tak">{{ligneOperation.quantite}}</td>
                                <td class="td-right-tak">{{ligneOperation.pU | number:'4.2-5'}}</td>
                                <td class="td-right-tak">{{ligneOperation.montantLigneOperation | number:'4.2-5'}}</td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr style="font-weight: bold; font-size: 19px">
                                <td colspan="3">
                                    <span jhiTranslate="ricApp.facture.montantFacure">Montant Facure</span>
                                </td>
                                <td class="td-right-b-tak">
                                    <span>{{facture.montantFacure | number:'4.2-5'}}</span>
                                </td>
                            </tr>
                            <tr style="font-weight: bold; font-size: 19px">
                                <td colspan="3">
                                    <span jhiTranslate="ricApp.facture.netAPayer">Net A Payer</span>
                                </td>
                                <td class="td-right-b-tak">
                                    <span>{{facture.netAPayer | number:'4.2-5'}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
