<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 [hidden]="!editForm.get('id')!.value" id="jhi-facture-heading" jhiTranslate="ricApp.facture.home.EditLabel">Edit a Bill</h2>
            <h2 [hidden]="editForm.get('id')!.value" id="jhi-facture-heading2" jhiTranslate="ricApp.facture.home.createLabel">Create a Bill</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.facture.numeroFacture" for="field_numeroFacture">Numero Facture</label>
                    <input type="text" class="form-control" name="numeroFacture" id="field_numeroFacture"
                           formControlName="numeroFacture"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.facture.dateFacturation" for="field_dateFacturation">Date Facturation</label>
                    <div class="input-group">
                        <input id="field_dateFacturation" type="text" class="form-control" name="dateFacturation" ngbDatepicker  #dateFacturationDp="ngbDatepicker" formControlName="dateFacturation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFacturationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateFacturation')!.invalid && (editForm.get('dateFacturation')!.dirty || editForm.get('dateFacturation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateFacturation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.facture.montantFacure" for="field_montantFacure">Montant Facure</label>
                    <input type="number" class="form-control" name="montantFacure" id="field_montantFacure"
                           formControlName="montantFacure"/>
                    <div *ngIf="editForm.get('montantFacure')!.invalid && (editForm.get('montantFacure')!.dirty || editForm.get('montantFacure')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantFacure')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantFacure')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('montantFacure')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.facture.netAPayer" for="field_netAPayer">Net A Payer</label>
                    <input type="number" class="form-control" name="netAPayer" id="field_netAPayer"
                           formControlName="netAPayer"/>
                    <div *ngIf="editForm.get('netAPayer')!.invalid && (editForm.get('netAPayer')!.dirty || editForm.get('netAPayer')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('netAPayer')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('netAPayer')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.facture.etat" for="field_etat">Etat</label>
                    <select class="form-control" name="etat" formControlName="etat" id="field_etat">
                        <option value="Brouillon">{{'ricApp.Etat.Brouillon' | translate}}</option>
                        <option value="EnAttente">{{'ricApp.Etat.EnAttente' | translate}}</option>
                        <option value="EnCours">{{'ricApp.Etat.EnCours' | translate}}</option>
                        <option value="Terminer">{{'ricApp.Etat.Terminer' | translate}}</option>
                        <option value="Payer">{{'ricApp.Etat.Payer' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.facture.operation" for="field_operation">Operation</label>
                    <select class="form-control" id="field_operation" name="operation" formControlName="operationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operationOption.id" *ngFor="let operationOption of operations; trackBy: trackById">{{operationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn-tak btn-tak-gris btn-tak-sm"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn-tak btn-tak-green btn-tak-sm">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
