<div>
    <h2 id="page-heading">
        <fa-icon icon="file-invoice" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.facture.home.title">Factures</span>
        <hr>
        <br>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="factures?.length === 0">
        <span jhiTranslate="ricApp.facture.home.notFound">No factures found</span>
    </div>
    <div class="table-responsive" *ngIf="factures?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="numeroFacture"><span jhiTranslate="ricApp.facture.numeroFacture">Numero Facture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateFacturation"><span jhiTranslate="ricApp.facture.dateFacturation">Date Facturation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="montantFacure"><span jhiTranslate="ricApp.facture.montantFacure">Montant Facure</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="netAPayer"><span jhiTranslate="ricApp.facture.netAPayer">Net A Payer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="etat"><span jhiTranslate="ricApp.facture.etat">Etat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let facture of factures ;trackBy: trackId">
            <tr>
                <td>{{facture.numeroFacture}}</td>
                <td>{{facture.dateFacturation | date:'mediumDate'}}</td>
                <td>{{facture.montantFacure}}</td>
                <td>{{facture.netAPayer}}</td>
                <td jhiTranslate="{{'ricApp.Etat.' + facture.etat}}">{{facture.etat}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/facture', facture.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/facture', facture.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="factures?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
