<form *ngIf="facture" name="paimentForm" (ngSubmit)="confirmPaiement() " role="form" novalidate [formGroup]="editForm">
    <div class="modal-header">

        <h4 class="modal-title">
            <fa-icon icon="user-cog" fixedWidth="true"></fa-icon>
            <span jhiTranslate="ricApp.paiement.home.title">paiement</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!editForm.get('id')!.value">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id"
                   readonly />
        </div>
        <div class="row">
            <div class="form-group col col-4">
                <label class="form-control-label" jhiTranslate="ricApp.paiement.datePaiement" for="field_datePaiement">Date Paiement</label>
                <div class="input-group">
                    <input id="field_datePaiement" type="text" class="form-control" name="datePaiement" ngbDatepicker  #dateFacturationDp="ngbDatepicker" formControlName="datePaiement"/>
                    <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFacturationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                </div>
                <div *ngIf="editForm.get('datePaiement')!.invalid && (editForm.get('datePaiement')!.dirty || editForm.get('datePaiement')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('datePaiement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!editForm.get('datePaiement')?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>
            <div class="form-group col col-4">
                <label class="form-control-label" jhiTranslate="ricApp.paiement.montantPaiement" for="field_montantPaiement">Montant Paiement</label>
                <input type="number" class="form-control" name="montantPaiement" id="field_montantPaiement"
                       formControlName="montantPaiement"/>
                <div *ngIf="editForm.get('montantPaiement')!.invalid && (editForm.get('montantPaiement')!.dirty || editForm.get('montantPaiement')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('montantPaiement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('montantPaiement')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                        This field should be at least 0.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!editForm.get('montantPaiement')?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>
            <div class="form-group col col-4">
                <label class="form-control-label" jhiTranslate="ricApp.paiement.employe" for="field_employe">Employe</label>
                <select class="form-control" id="field_employe" name="employe" formControlName="employe">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="employeOption.id === editForm.value.employe?.id ? editForm.value.employe : employeOption"
                            *ngFor="let employeOption of employes; trackBy: trackById">{{employeOption.nom}}&nbsp;{{employeOption.prenom}}</option>
                </select>
            </div>
        </div>
        Url actuel: => {{location.path()}}<br>
        Normalize: => {{location.normalize('foo/bar')}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-facture" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'cash-register'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.paie">Paie</span>
        </button>
    </div>
</form>
