<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeOperation">
            <h2><span jhiTranslate="ricApp.typeOperation.detail.title">Type Operation</span> {{typeOperation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ricApp.typeOperation.libelle">Libelle</span></dt>
                <dd>
                    <span>{{typeOperation.libelle}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn-tak btn-tak-gris btn-tak-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-operation', typeOperation.id, 'edit']"
                    class="btn-tak btn-tak-blue btn-tak-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
