<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 *ngIf="!editForm.get('id')!.value" id="jhi-operation-heading" jhiTranslate="ricApp.operation.home.createLabel">Create an Operation</h2>
            <h2 *ngIf="editForm.get('id')!.value" id="jhi-operation-heading1">
                <span jhiTranslate="ricApp.operation.home.editLabel">edit an Operation</span> {{operation.numeroOperation}}</h2>
            <hr>
            <a *jhiHasAnyAuthority="['ROLE_SUP','ROLE_APPRO','ROLE_ADMIN']" class="btn-tak btn-tak-gris btn-tak-sm" (click)="isAppro()" [hidden]="editForm.value.typeOperation?.id === 2">
                <span><fa-icon [icon]="'truck-moving'"></fa-icon>&nbsp; APPRO</span>
            </a>
            <a *jhiHasAnyAuthority="['ROLE_SUP','ROLE_SELL','ROLE_ADMIN']" class="btn-tak btn-tak-gris btn-tak-sm" (click)="isSell()" [hidden]="editForm.value.typeOperation?.id === 1">
                <span><fa-icon [icon]="'cart-arrow-down'"></fa-icon>&nbsp; SELL</span>
            </a>
            <hr>
            <br>
            <div *ngIf="editForm.value.typeOperation">
                <div class="row">
                    <button type="button" id="cancel-save" class="btn-tak btn-tak-gris btn-tak-sm"  (click)="previousState()">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button> &nbsp;&nbsp;
                    <button  *ngIf="!editForm.invalid || isSaving" type="submit" id="save-entity" class="btn-tak btn-tak-green btn-tak-sm">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                    <button type="submit" id="save-entity2" *ngIf="editForm.invalid || isSaving" class="btn-tak btn-tak-green btn-tak-sm btn-invalide-tak">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
                <hr>
                <br>
                <div class="row">
                <div class="col-3 separateur-gauche">
                    <jhi-alert-error></jhi-alert-error>
                    <div *jhiHasAnyAuthority="'ROLE_SUP'" class="form-group" [hidden]="!editForm.get('id')!.value">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id"
                               readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ricApp.operation.dateOperation" for="field_dateOperation">Date Operation</label>
                        <div class="input-group">
                            <input id="field_dateOperation" type="text" class="form-control" name="dateOperation" ngbDatepicker  #dateOperationDp="ngbDatepicker" formControlName="dateOperation"/>
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOperationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                        <div *ngIf="editForm.get('dateOperation')!.invalid && (editForm.get('dateOperation')!.dirty || editForm.get('dateOperation')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('dateOperation')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="editForm.value.typeOperation?.id === 1">
                        <label class="form-control-label" jhiTranslate="ricApp.client.fournisseur" for="field_client">Client</label>
                        <select class="form-control" id="field_client" name="client" formControlName="client">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="clientOption.id === editForm.value.client?.id ? editForm.value.client: clientOption"
                                    *ngFor="let clientOption of clientsFournisseur;">{{clientOption.nom}}&nbsp;{{clientOption.prenom}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="editForm.value.typeOperation?.id === 2">
                        <label class="form-control-label" jhiTranslate="ricApp.operation.client" for="field_client">Client</label>
                        <select class="form-control" id="field_client2" name="client" formControlName="client">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="clientOption.id === editForm.value.client?.id ? editForm.value.client: clientOption"
                                    *ngFor="let clientOption of clientsClient;">{{clientOption.nom}}&nbsp;{{clientOption.prenom}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-9 separateur-droit">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="float-right">
                                <a class="btn-tak btn-tak-green btn-tak-sm" (click)="addLigneOperation()">
                                    <span>
                                        <fa-icon [icon]="'plus'"></fa-icon>
                                        <span jhiTranslate="ricApp.operation.addLigne"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-bordered" formArrayName="ligneOperations">
                        <thead class="table-head">
                        <tr >
                            <th width="40%"><span jhiTranslate="ricApp.ligneOperation.produit">Produit</span></th>
                            <th width="14%"><span jhiTranslate="ricApp.ligneOperation.quantite">Quantite</span> </th>
                            <th width="15%"><span jhiTranslate="ricApp.ligneOperation.pU">P U</span> </th>
                            <th width="18%" class="text-right"><span jhiTranslate="ricApp.ligneOperation.montantLigneOperation">Montant Ligne Operation</span> </th>
                            <th width=""></th>
                        </tr>
                        </thead>
                        <tbody class="table-body" *ngFor="let item of editForm.get('ligneOperations')['controls']; let i = index;">
                            <tr [formGroupName]="i" [hidden]="deletedLigne[i] === 'yes'">
                                <td>
                                    <div  *ngIf="editForm.value.typeOperation?.id === 2">
                                        <select class="form-control form-control-sm" id="produitCanSell{{i}}" style="height: 35px"
                                                name="produit" formControlName="produit">
                                            <option [ngValue]="null"></option>
                                            <option class="optioning select-tak" [ngValue]="produitOption.id === editForm.value.ligneOperations[i].produit?.id ? editForm.value.ligneOperations[i].produit : produitOption"
                                                    *ngFor="let produitOption of produitsCanSell; trackBy: trackByDesignation;">
                                                    {{produitOption.designation}} &nbsp;&nbsp;
                                                <span class="form-text text-warning text-right"> stock : {{produitOption.quantiteStock}}</span>
                                            </option>
                                        </select>
                                    </div>
                                    <div  *ngIf="editForm.value.typeOperation?.id === 1">
                                        <select class="form-control form-control-sm" id="produit{{i}}" style="height: 35px"
                                                name="produit" formControlName="produit">
                                            <option [ngValue]="null"></option>
                                            <option class="optioning" [ngValue]="produitOption.id === editForm.value.ligneOperations[i].produit?.id ? editForm.value.ligneOperations[i].produit : produitOption"
                                                    *ngFor="let produitOption of produits; trackBy: trackByDesignation;">
                                                {{produitOption.designation}}
                                        </select>
                                    </div>
                                    <mat-autocomplete>
                                        <mat-option *ngFor="let option of produits" [value]="option">
                                            {{ option.designation }}
                                        </mat-option>
                                    </mat-autocomplete>

                                </td>
                                <td>
                                    <div class="form-group" *ngIf="editForm.value.typeOperation?.id === 2">
                                        <input type="number" class="form-control text-center" name="quantite" id="field_quantite{{i}}" [readOnly]="editForm.value.ligneOperations[i].produit?.id === null"
                                               formControlName="quantite" [min]="0" [max]="editForm.value.ligneOperations[i].produit?.quantiteStock" (keyup)="maxQuantityTest(i)"/>
                                    </div>
                                    <div class="form-group" *ngIf="editForm.value.typeOperation?.id === 1">
                                        <input type="number" class="form-control text-center" name="quantite" id="field_quantite2{{i}}" [readOnly]="editForm.value.ligneOperations[i].produit?.id === null"
                                               formControlName="quantite" [min]="0"  (change)="minQuantityTest(i)"/>
                                    </div>

                                </td>
                                <td>
                                    <input type="number" class="form-control text-lg-right" name="pU" id="field_pU{{i}}" [readOnly]="editForm.value.ligneOperations[i].produit?.id === null"
                                           formControlName="pU" (change)="minQuantityTest(i)"  [min]="0" placeholder="0"/>
                                </td>
                                <td>
                                    <h4 class="float-right">{{editForm.value.ligneOperations[i]?.montantLigneOperation | number:'4.2-5'}}</h4></td>
                                <td>
                                    <div *ngIf="editForm.value.ligneOperations[i]?.id === null && bsNiv1[i] !== 0" class="float-right">
                                        <span>
                                            <a class="btn-tak btn-tak-gris btn-tak-sm" (click)="removeLigneOperationNull(i)">
                                            <fa-icon [icon]="'trash'"></fa-icon>
                                            </a>
                                        </span>
                                    </div>
                                    <div *ngIf="editForm.value.ligneOperations[i]?.id !== null && bsNiv1[i] === 0" class="float-right">
                                        <span>
                                            <a class="btn-tak btn-tak-red btn-tak-sm" (click)="changeBsNiv1(i)">
                                            <fa-icon [icon]="'trash'"></fa-icon>
                                            </a>
                                        </span>
                                    </div>
                                    <div *ngIf="editForm.value.ligneOperations[i]?.id !== null && bsNiv1[i] !== 0">
                                        <span>
                                            <a class="btn-tak btn-tak-green btn-tak-wsm" (click)="removeLigneOperationNoNull(i)">
                                            <fa-icon [icon]="'check'"></fa-icon>
                                            </a>
                                        </span>
                                        <span>
                                            <a class="btn-tak btn-tak-red btn-tak-wsm" (click)="changeBsNiv1(i)">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            </a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <hr>
                    <div class="row" style="margin-bottom: 1px">
                        <div class="col-12 col-sm-4"></div>
                        <div class="col-12 col-sm-5">
                            <div class="float-left">
                                <h3 class="text-capitalize " jhiTranslate="ricApp.operation.montantTotal"> montantTotal</h3>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="float-right">
                                <a class="btn-tak btn-tak-gris btn-tak-sm" (click)="getMontantTotal()">
                                    <fa-icon [icon]="'sync'"></fa-icon>
                                </a>
                            </div>
                            <div class="float-left">
                                <h3 class="text-capitalize bold italic token">{{editForm.value?.montantTotal  | number:'4.2-5'}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
