<div class="row justify-content-center">
    <div class="col-12">
        <h2>
            <fa-icon icon="clipboard" fixedWidth="true"></fa-icon>&nbsp;
            <span jhiTranslate="ricApp.operation.detail.title">Operation</span> &nbsp;
            <span *ngIf="operation.numeroOperation"> {{operation.numeroOperation}}</span>
        </h2>
        <hr>
        <button type="submit" (click)="previousState()" class="btn-tak btn-tak-gris btn-tak-sm">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>&nbsp;||&nbsp;
        <button type="button" *ngIf="draft===editDraft && operation" [routerLink]="['/operation', operation.id, 'edit']" class="btn-tak btn-tak-blue btn-tak-sm">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <button  type="button" *ngIf="draft===editDraft && operation && operation.ligneOperations?.length !== 0"  class="btn-tak btn-tak-green btn-tak-sm" (click)="save()">
            <span><fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Valide</span></span>
        </button>
        <button  type="button" *ngIf="operation.ligneOperations?.length === 0" [disabled]="operation.ligneOperations?.length === 0" class="btn-tak btn-tak-green btn-tak-sm btn-invalide-tak" (click)="save()">
            <span><fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Valide</span></span>
        </button>
        <button *ngIf="operation.bordereau && operation" type="submit" [routerLink]="['/bordereau', operation.bordereau.id, 'view' ]" class="btn-tak btn-tak-gris btn-tak-sm">
            <fa-icon [icon]="'file-invoice'"></fa-icon>&nbsp;
            <span class="d-none d-md-inline" jhiTranslate="ricApp.bordereau.detail.title">bordereau</span>
        </button>
        <button *ngIf="operation.facture && operation" type="submit" [routerLink]="['/facture', operation.facture.id, 'view' ]" class="btn-tak btn-tak-gris btn-tak-sm">
            <fa-icon [icon]="'file-alt'"></fa-icon>&nbsp;
            <span class="d-none d-md-inline" jhiTranslate="ricApp.facture.detail.title">facture</span>
        </button>
        <hr>
        <div *ngIf="operation">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-4 border-right-tak">
                    <table class="table table-state-tak">
                        <thead>
                        <th colspan="2" class=" table-head" style="text-align: center">
                            <span jhiTranslate="global.field.detail"style="text-transform: capitalize">Detail</span>
                            <span jhiTranslate="ricApp.operation.detail.title" style="text-transform: capitalize"></span>
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-left-tak" width="35%">
                                <span jhiTranslate="ricApp.operation.dateOperation">Date Operation</span>
                            </td>
                            <td class="td-right-tak">
                                <span>{{operation.dateOperation | date:'mediumDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.operation.client">Client</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="operation.client">
                                    <a [routerLink]="['/client', operation.client.id, 'view']">{{operation.client.nom}}&nbsp;{{operation.client.nom}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.operation.employe">Employe</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="operation.employe">
                                    <a [routerLink]="['/employe', operation.employe.id, 'view']">{{operation.employe.nom}}&nbsp;{{operation.employe.prenom}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.operation.typeOperation">Type Operation</span>
                            </td>
                            <td class="td-right-tak">
                                <div *ngIf="operation.typeOperation">
                                    <a [routerLink]="['/type-operation', operation.typeOperation.id, 'view']">{{operation.typeOperation.libelle}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.operation.etat">Etat</span>
                            </td>
                            <td class="td-right-tak">
                                <span jhiTranslate="{{'ricApp.Etat.' + operation.etat}}">{{operation.etat}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-8">
                    <h4><span style="text-decoration: underline" jhiTranslate="ricApp.ligneOperation.home.title"></span></h4>
                    <br>
                    <div class="alert alert-warning" *ngIf="operation.ligneOperations?.length === 0">
                        <span jhiTranslate="ricApp.ligneOperation.home.notFound">No ligneOperations found</span>
                    </div>
                    <div class="table-responsive" *ngIf="operation.ligneOperations?.length > 0">
                        <table class="table table-bordered" aria-describedby="page-heading">
                            <thead class="table-head">
                            <tr>
                                <th width="50%"><span jhiTranslate="ricApp.ligneOperation.produit">Produit</span></th>
                                <th width="10%"><span jhiTranslate="ricApp.ligneOperation.quantite">Quantite</span></th>
                                <th width="15%" style="text-align: center"><span jhiTranslate="ricApp.ligneOperation.pU">P U</span></th>
                                <th width="25%"  style="text-align: center"><span jhiTranslate="ricApp.ligneOperation.montantLigneOperation">Montant Ligne Operation</span></th>
                            </tr>
                            </thead>
                            <tbody class="table-body" *ngFor="let ligneOperation of operation.ligneOperations ;">
                            <tr >
                                <td>
                                    <div *ngIf="ligneOperation.produit.id">
                                        <a [routerLink]="['/produit', ligneOperation.produit.id , 'view' ]" >{{ligneOperation.produit.designation}}</a>
                                    </div>
                                </td>
                                <td class="td-right-tak">{{ligneOperation.quantite}}</td>
                                <td class="td-right-tak">{{ligneOperation.pU | number:'4.2-5'}}</td>
                                <td class="td-right-tak">{{ligneOperation.montantLigneOperation | number:'4.2-5'}}</td>
                            </tr>
                            </tbody>
                            <tbody>
                                <tr style="font-weight: bold; font-size: 19px">
                                    <td colspan="3">
                                        <span jhiTranslate="ricApp.operation.montantTotal">Montant Total</span>
                                    </td>
                                    <td class="td-right-b-tak">
                                        <span>{{operation.montantTotal | number:'4.2-5'}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
