<div>
    <h2 id="page-heading">
        <fa-icon icon="clipboard" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.operation.home.title">Operations</span>
        <hr>
        <button id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm" [routerLink]="['/operation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ricApp.operation.home.createLabel">
            Create a new Operation
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
   <div class="row">
       <div class="col-2">
           <a *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUPP']" class="link" routerLink="/operation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
               <fa-icon icon="clipboard" fixedWidth="true"></fa-icon>
               <span jhiTranslate="ricApp.operation.home.title">Operation</span>
           </a><br>
           <a *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUPP','ROLE_APPRO']" class="link" routerLink="/operation/appro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
               <fa-icon icon="clipboard" fixedWidth="true"></fa-icon>
               <span jhiTranslate="ricApp.operation.home.titleAppro">Operation Appro</span>
           </a><br>
           <a  *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUPP','ROLE_SELL']" class="link" routerLink="/operation/sell" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
               <fa-icon icon="clipboard" fixedWidth="true"></fa-icon>
               <span jhiTranslate="ricApp.operation.home.titleSell">Operation Sell</span>
           </a>
       </div>
       <div class="col-10">
           <div class="alert alert-warning" *ngIf="operations?.length === 0">
               <span jhiTranslate="ricApp.operation.home.notFound">No operations found</span>
           </div>
           <div class="table-responsive" *ngIf="operations?.length > 0">
               <table class="table table-bordered" aria-describedby="page-heading">
                   <thead class="table-head">
                   <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                       <th scope="col"  jhiSortBy="id"><span jhiTranslate="ricApp.operation.numeroOperation">Numero Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                       <th scope="col"  jhiSortBy="dateOperation"><span jhiTranslate="ricApp.operation.dateOperation">Date Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                       <th scope="col"  jhiSortBy="client"><span jhiTranslate="ricApp.operation.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                       <th scope="col"  jhiSortBy="typeOperation"><span jhiTranslate="ricApp.operation.typeOperation">Type Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                       <th scope="col"  jhiSortBy="montantTotal"><span jhiTranslate="ricApp.operation.montantTotal">Montant Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                       <th scope="col"  jhiSortBy="employe"><span jhiTranslate="ricApp.operation.employe">Employe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                       <th scope="col"  jhiSortBy="etat"><span jhiTranslate="ricApp.operation.etat">Etat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                       <th scope="col"></th>
                   </tr>
                   </thead>
                   <tbody class="table-body" *ngFor="let operation of operations ;trackBy: trackId">
                   <tr>
                       <td>{{operation.numeroOperation}}</td>
                       <td>{{operation.dateOperation | date:'mediumDate'}}</td>
                       <td>
                           <span *ngIf="operation.client">
                               {{operation.client.nom}}&nbsp;{{operation.client.prenom}}
                           </span>
                       </td>
                       <td  class="text-center">
                           <span *ngIf="operation.typeOperation">
                               {{operation.typeOperation.libelle}}
                           </span>
                       </td>
                       <td><span class="float-right">{{operation.montantTotal | number:'4.2-5'}}</span></td>
                       <td>
                           <div *ngIf="operation.employe">
                               {{operation.employe.nom}}&nbsp;{{operation.employe.prenom}}
                           </div>
                       </td>
                       <td jhiTranslate="{{'ricApp.Etat.' + operation.etat}}">{{operation.etat}}</td>
                       <td class="text-right">
                           <div class="btn-group">
                               <button type="submit"
                                       [routerLink]="['/operation', operation.id, 'view' ]"
                                       class="btn btn-info btn-sm">
                                   <fa-icon [icon]="'eye'"></fa-icon>
                                   <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                               </button>
                               <button type="submit" *ngIf="operation.etat === stateV"
                                       [routerLink]="['/operation', operation.id, 'edit']"
                                       class="btn btn-primary btn-sm">
                                   <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                   <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                               </button>
                           </div>
                       </td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
    <div *ngIf="operations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
