<div>
    <h2 id="page-heading">
        <fa-icon icon="align-left" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.ligneOperation.home.title">Ligne Operations</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ligneOperations?.length === 0">
        <span jhiTranslate="ricApp.ligneOperation.home.notFound">No ligneOperations found</span>
    </div>
    <div class="table-responsive" *ngIf="ligneOperations?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col"  *jhiHasAnyAuthority="'ROLE_SUP'"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="produit"><span jhiTranslate="ricApp.ligneOperation.produit">Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="quantite"><span jhiTranslate="ricApp.ligneOperation.quantite">Quantite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="pU"><span jhiTranslate="ricApp.ligneOperation.pU">P U</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="montantLigneOperation"><span jhiTranslate="ricApp.ligneOperation.montantLigneOperation">Montant Ligne Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="deleted"><span jhiTranslate="ricApp.ligneOperation.deleted">Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="operationId"><span jhiTranslate="ricApp.ligneOperation.operation">Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let ligneOperation of ligneOperations ;trackBy: trackId">
            <tr>
                <td *jhiHasAnyAuthority="'ROLE_SUP'">
                    <a [routerLink]="['/ligne-operation', ligneOperation.id, 'view' ]">{{ligneOperation.id}}</a>
                </td>
                <td>
                    <div *ngIf="ligneOperation.produit.id">
                        <a [routerLink]="['/produit', ligneOperation.produit.id , 'view' ]" >{{ligneOperation.produit.designation}}</a>
                    </div>
                </td>
                <td>{{ligneOperation.quantite}}</td>
                <td>{{ligneOperation.pU}}</td>
                <td>{{ligneOperation.montantLigneOperation}}</td>
                <td>{{ligneOperation.deleted}}</td>
                <td>
                    <div *ngIf="ligneOperation.operation.id">
                        <a [routerLink]="['/operation', ligneOperation.operation.id , 'view' ]" >{{ligneOperation.operation.numeroOperation}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ligneOperations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
