<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ligneOperation">
            <h2><span jhiTranslate="ricApp.ligneOperation.detail.title">Ligne Operation</span> {{ligneOperation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ricApp.ligneOperation.quantite">Quantite</span></dt>
                <dd>
                    <span>{{ligneOperation.quantite}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.ligneOperation.pU">P U</span></dt>
                <dd>
                    <span>{{ligneOperation.pU}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.ligneOperation.montantLigneOperation">Montant Ligne Operation</span></dt>
                <dd>
                    <span>{{ligneOperation.montantLigneOperation}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.ligneOperation.deleted">Deleted</span></dt>
                <dd>
                    <span>{{ligneOperation.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="ricApp.ligneOperation.produit">Produit</span></dt>
                <dd>
                    <div *ngIf="ligneOperation.produit.id">
                        <a [routerLink]="['/produit', ligneOperation.produit.id, 'view']">{{ligneOperation.produit.designation}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ricApp.ligneOperation.operation">Operation</span></dt>
                <dd>
                    <div *ngIf="ligneOperation.operation.id">
                        <a [routerLink]="['/operation', ligneOperation.operation.id, 'view']">{{ligneOperation.operation.numeroOperation}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn-tak btn-tak-gris btn-tak-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ligne-operation', ligneOperation.id, 'edit']"
                    class="btn-tak btn-tak-blue btn-tak-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
