<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 [hidden]="!editForm.get('id')!.value" id="jhi-ligne-operation-heading" jhiTranslate="ricApp.ligneOperation.home.EditLabel">Edit a Ligne Operation</h2>
            <h2 [hidden]="editForm.get('id')!.value" id="jhi-ligne-operation-heading2" jhiTranslate="ricApp.ligneOperation.home.createLabel">Create  a Ligne Operation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.ligneOperation.quantite" for="field_quantite">Quantite</label>
                    <input type="number" class="form-control" name="quantite" id="field_quantite"
                           formControlName="quantite"/>
                    <div *ngIf="editForm.get('quantite')!.invalid && (editForm.get('quantite')!.dirty || editForm.get('quantite')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantite')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantite')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.ligneOperation.pU" for="field_pU">P U</label>
                    <input type="number" class="form-control" name="pU" id="field_pU"
                           formControlName="pU"/>
                    <div *ngIf="editForm.get('pU')!.invalid && (editForm.get('pU')!.dirty || editForm.get('pU')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pU')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('pU')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.ligneOperation.montantLigneOperation" for="field_montantLigneOperation">Montant Ligne Operation</label>
                    <input type="number" class="form-control" name="montantLigneOperation" id="field_montantLigneOperation"
                           formControlName="montantLigneOperation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.ligneOperation.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.ligneOperation.produit" for="field_produit">Produit</label>
                    <select class="form-control" id="field_produit" name="produit" formControlName="produit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="produitOption.id" *ngFor="let produitOption of produits; trackBy: trackById">{{produitOption.designation}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ricApp.ligneOperation.operation" for="field_operation">Operation</label>
                    <select class="form-control" id="field_operation" name="operation" formControlName="operation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="operationOption.id" *ngFor="let operationOption of operations; trackBy: trackById">{{operationOption.numeroOperation}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn-tak btn-tak-gris btn-tak-sm"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn-tak btn-tak-green btn-tak-sm">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
