@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/simplex/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
//.footer-edit {
//  height: 14px;
//  position: relative;
//  background-color: red;
//  margin-bottom: 1%;
//  bottom: 0;
//}

/* Operation css */
.separateur-gauche {
  border-right: 1px black outset;
  border-top: 1px black outset;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 10px;
}
.separateur-droit {
  border-left: 1px black outset;
  border-top: 1px black outset;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
}

.optioning {
  border-top: 5px black inset;
  padding-top: 20px;
}

.disabled-tak {
  opacity: 0.6;
  cursor: not-allowed;
}

.border-right-tak {
  border-right: 2px black outset;
}

/* All button css */
.btn-tak {
  display: inline-block;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #999;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  span {
    color: white;
  }
}
.btn-tak-sm {
  padding: 8px 15px;
  font-size: 14px;
}
.btn-tak-xsm {
  padding: 5px 10px;
  font-size: 9px;
}
.btn-tak-ysm {
  padding: 4px 8px;
  font-size: 5px;
}
.btn-tak-wsm {
  padding: 6px 13px;
  font-size: 12px;
}

.btn-tak-green {
  color: #fff;
  background-color: #4caf50;
}
.btn-tak-blue {
  color: #fff;
  background-color: blue;
}
.btn-tak-blue-inverse {
  background-color: white;
  color: #0074d9;
  border: 2px solid #0074d9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  span {
    color: #0074d9;
  }
}

.btn-tak-red {
  color: #fff;
  background-color: red;
}
.btn-tak-yellow {
  color: #fff;
  background-color: #ffff00;
}
.btn-tak-gris {
  color: #fff;
  background-color: #777777;
}

.btn-tak-green:hover {
  background-color: white;
  color: #4caf50;
  border: 2px solid #4caf50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  span {
    color: #4caf50;
  }
}
.btn-tak-blue:hover {
  background-color: white;
  color: #0074d9;
  border: 2px solid #0074d9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  span {
    color: #0074d9;
  }
}
.btn-tak-red:hover {
  background-color: white;
  color: #a61717;
  border: 2px solid #a61717;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  span {
    color: #a61717;
  }
}
.btn-tak-yellow:hover {
  background-color: white;
  color: #ffc520;
  border: 2px solid #ffc520;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  span {
    color: #ffc520;
  }
}
.btn-tak-gris:hover {
  background-color: white;
  color: #a7a7a7;
  border: 2px solid #a7a7a7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  span {
    color: #a7a7a7;
  }
}

.btn-tak-green:active {
  background-color: #3e8e41;
  color: #fff;
  box-shadow: 1px 0px 7px 2px #666;
}
.btn-tak-blue:active {
  background-color: #0074d9;
  color: #fff;
  box-shadow: 1px 0px 7px 2px #666;
}
.btn-tak-red:active {
  background-color: red;
  color: #fff;
  box-shadow: 1px 0px 7px 2px #666;
}
.btn-tak-yellow:active {
  background-color: yellow;
  color: #fff;
  box-shadow: 1px 0px 7px 2px #666;
}
.btn-tak-gris:active {
  background-color: #777777;
  color: #fff;
  box-shadow: 1px 0px 7px 2px #666;
}

.btn-invalide-tak {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-invalide-tak:hover {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Tables form 1*/
.table-head {
  background-color: #777777;
  color: white;
  font-size: 15px;
}
.table-body:hover {
  tr {
    font-weight: bold;
    background: ghostwhite;
  }
}

.table-row-wanning {
  background-color: lightyellow;
  color: black;
}
.table-row-wanning:hover {
  text-decoration-color: black;
  td {
    color: black;
    font-weight: bold;
    background-color: yellow;
  }
}
.table-row-danger {
  background-color: #ffaaaa;
  color: black;
}
.table-row-danger:hover {
  text-decoration-color: black;
  td {
    color: black;
    font-weight: bold;
    background-color: #fb3b49;
    a {
      color: black;
    }
  }
}

/* Tables form 2*/

.table-state-tak {
}
.td-left-tak {
  background-color: #bbbbbb;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}
.td-right-tak {
  text-align: right;
}
.td-right-tak-left {
  text-align: left;
}

.td-right-b-tak {
  background-color: #ffffff;
  font-weight: bold;
  text-align: right;
}

/* Vues des pages detail */

.form-align-tak {
  dt {
    border-top: 1px #777777 inset;
  }
  dd {
    border-top: 1px #777777 dashed;
    margin-bottom: 15px;
  }
}

.select-tak {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 13px;
  span {
    text-align: right;
  }
}

.auth-tak {
  span {
    display: inline-block;
  }
}
