<div class="row justify-content-center">
    <div class="col-12">
        <h2>
            <fa-icon icon="warehouse" fixedWidth="true"></fa-icon>
            <span jhiTranslate="ricApp.agence.detail.title">Agence</span>
        </h2>
        <hr>
        <button type="submit" (click)="previousState()" class="btn-tak btn-tak-gris btn-tak-sm">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <button  *ngIf="agence" type="button" [routerLink]="['/agence', agence.id, 'edit']" class="btn-tak btn-tak-blue btn-tak-sm">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <hr>
        <div *ngIf="agence">
            <jhi-alert-error></jhi-alert-error>
            <div class="row justify-content-center">
                <div class="col-8">
                    <table class="table table-state-tak">
                        <thead>
                        <th colspan="2" class=" table-head" style="text-align: center">
                            <span jhiTranslate="global.field.detail"style="text-transform: capitalize">Detail</span>
                            <span jhiTranslate="ricApp.agence.detail.title" style="text-transform: capitalize"></span>
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.agence.nom">Nom</span>
                            </td>
                            <td class="td-right-tak">
                                {{agence.nom}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.agence.ville">Ville</span>
                            </td>
                            <td class="td-right-tak">
                                {{agence.ville}}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.agence.telephone">Telephone</span>
                            </td>
                            <td class="td-right-tak">
                                {{agence.telephone}}
                            </td>
                        </tr>
                        <tr *jhiHasAnyAuthority="'ROLE_SUP'">
                            <td class="td-left-tak">
                                <span jhiTranslate="ricApp.agence.deleted">Deleted</span>
                            </td>
                            <td class="td-right-tak">
                                {{agence.deleted}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
