<div>
    <h2 id="page-heading">
        <fa-icon icon="warehouse" fixedWidth="true"></fa-icon>&nbsp;
        <span jhiTranslate="ricApp.agence.home.title">Agences</span>
        <hr>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUP']" id="jh-create-entity" class="btn-tak btn-tak-green btn-tak-sm create-agence" [routerLink]="['/agence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ricApp.agence.home.createLabel">
            Create a new Agence
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="agences?.length === 0">
        <span jhiTranslate="ricApp.agence.home.notFound">No agences found</span>
    </div>
    <div class="table-responsive" *ngIf="agences?.length > 0">
        <table class="table table-bordered" aria-describedby="page-heading">
            <thead class="table-head">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nom"><span jhiTranslate="ricApp.agence.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ville"><span jhiTranslate="ricApp.agence.ville">Ville</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="ricApp.agence.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th scope="col"  jhiSortBy="deleted"><span jhiTranslate="ricApp.agence.deleted">Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="table-body" *ngFor="let agence of agences ;trackBy: trackId">
            <tr>
                <td><a [routerLink]="['/agence', agence.id, 'view' ]">{{agence.id}}</a></td>
                <td>{{agence.nom}}</td>
                <td>{{agence.ville}}</td>
                <td>{{agence.telephone}}</td>
<!--                <td>{{agence.deleted}}</td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUP']" type="submit"
                                [routerLink]="['/agence', agence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUP']" type="submit"
                                [routerLink]="['/agence', agence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_SUP']" type="submit" (click)="delete(agence)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="agences?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
